head
    title CARD ROGUE
    link(rel='icon', href='/cr/favicon.ico')
    script(src='http://code.createjs.com/easeljs-0.7.0.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
