doctype html
html
    include ./includes/head.jade
    style
        include ./css/game.css
    script
        include ./javascript/card.js
    script
        include ./javascript/game.js
    body
        div(id='screen')
            div(id='pause')
            canvas(id='gameCanvas')
