doctype html
html
    include ./includes/head.jade
    style
        include ./css/general.css
    body
        h3.title#main_title <br><br>CARD ROGUE<br><br><br>
        h3.title
            a(href='/cr/') HOME
        h3.title
            a(href='/cr/make_game') CREATE NEW GAME
        h3.title
            a(href='/cr/join_game') JOIN GAME
        h3.title
            a(href='/cr/lobby') LOBBY 
