doctype html
html
    include ./includes/head.jade
    style
        include ./css/general.css
    body
        h3.title#main_title <br><br>CARD ROGUE<br><br><br>
        a(href='/cr/game')
            h3.title GAME
        a(href='/cr/make_game')
            h3.title CREATE NEW GAME
        a(href='/cr/join_game')
            h3.title JOIN GAME
        a(href='/cr/lobby')
            h3.title LOBBY 
