doctype html
html
    include ./includes/head.jade
    body
        h3
            a(href='/cr/') HOME
            br
            a(href='/cr/make_game') CREATE NEW GAME
            br
            a(href='/cr/join_game') JOIN GAME
            br
            a(href='/cr/lobby') LOBBY 
