doctype html
html
    head
        include ./includes/head
        style
            include ./css/general.css
        script
            include ./javascript/join_game.js
    body
        h1.title Avaliable Games
        br
        ul#lobbies
