doctype html
html
    head
        include ./includes/head
        script
            include ./javascript/lobby.js
        style
            include ./css/lobby.css
    body
        div.center
            div#lobby_name
            button#ready_button ready?
            form(action='')
                textarea#m(autocomplete='off' autofocus='true' maxlength='1000')
        ul#messages
