doctype html
html
    head
        include ./includes/head
        script.
            $(document).ready(function() {
                socket.emit('enter_lobby')
                socket.on('lobby_info', function(info){
                    console.log('LOBBY NAME:', info.lobby_name);
                    $('#lobby_name').text(info.lobby_name);
                });
                $('form').keypress(function(event){
                    if (event.keyCode == 13) {
                        if ($('#m').val() !== '') {
                            socket.emit('chat message', $('#m').val());
                        }
                        $('#m').val('');
                        return false;
                    }
                });
                var audioTag = new Audio('audio/drrr.mp3');
                //audioTag.load();
                socket.on('chat message', function(msg, color){
                    console.log('RECEIVED:', msg, color);
                    $('#messages').prepend($('<br>'));
                    $('#messages').prepend($('<li>').attr('class', 'speech ' + color).text(msg));
                    $('#messages').prepend($('<span>').attr('class', 'square ' + color));
                    //audioTag.src = 'audio/drrr.mp3';
                    audioTag.play();
                });
                $(window).unload(function(){
                    socket.emit('leave_lobby');
                });
            });
        style
            include ./css/lobby.css
    body
        div.center
            div#lobby_name
            form(action='')
                textarea#m(autocomplete='off' autofocus='true')
                button Send 
        ul#messages
