doctype html
html
    head
        include ./includes/head
        script.
            $(document).ready(function() {
                socket.emit('enter_lobby')
                socket.on('lobby_info', function(info){
                    console.log('LOBBY NAME:', info.lobby_name);
                    $('#lobby_name').text(info.lobby_name);
                });
                $('form').submit(function(){
                    socket.emit('chat message', $('#m').val());
                    $('#m').val('');
                    return false;
                });
                socket.on('chat message', function(msg){
                    console.log('RECEIVED:', msg);
                    $('#messages').append($('<li>').text(msg));
                });
                $(window).unload(function(){
                    socket.emit('leave_lobby');
                });
            });
    body
        div#lobby_name
        form(action='')
            input#m(autocomplete='off')
            button Send 
        ul#messages
