doctype html
html
    head
        include ./includes/head
        style
            include ./css/general.css
        script.
            $(document).ready(function() {
                $('form').submit(function(){
                    if ($('#lobby_name').val() !== '') {
                        socket.emit('make_lobby', {lobby_name: $('#lobby_name').val(), lobby_pwd: $('#lobby_pwd').val()});
                        window.location.replace("lobby");
                    }
                    return false;
                });
            });
    body
        h1.title Create New Game
        form(action='')
            label(for='lobby_name') name
            br
            input#lobby_name(placeholder='' autocomplete='off' autofocus='true')
            br
            br
            label(for='lobby_pwd') password
            br
            input#lobby_pwd(placeholder='(optional)' autocomplete='off')
            br
            br
            button#create_game CREATE!
