doctype html
html
    head
        include ./includes/head
        style
            include /javascripts/jquery-ui-slider-pips.css
        script
            include /javascripts/jquery-ui-slider.pips.js
        script
            include ./javascript/make_game.js
        style
            include ./css/general.css
    body
        h1.title Create New Game
        form(action='')
            br
            label(for='lobby_name') name
            br
            input#lobby_name(placeholder='' autocomplete='off' autofocus='true')
            br
            br
            label(for='lobby_pwd') password
            br
            input#lobby_pwd(placeholder='(optional)' autocomplete='off')
            br
            br
            div max players
            br
            div.slider
            br
            button#create_game CREATE!
