* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    background-color: gray;
}
#screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}
#pause {
    z-index: 10;
}
#selection {
    z-index: 5;
    position: absolute;
    top: 0px;
    left: 50%;
    color: white;
}
#inner-selection {
    position: relative;
    left: -50%;
}
#gameCanvas {
    width: 100%;
    height: 100%;
    z-index: 0;
}
