html {
    color: white;
    background-color: black;
    margin: 0 auto;
    width: 600px;
    font-family: "lucida grande","Meiryo",tahoma,verdana,arial,sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}
body {
    margin: 0;
}
li {
    list-style-type: none;
    line-height: 130%;
}
button {
    padding: 0;
    margin: 2px;
    background : transparent;
    font-family : inherit;
    font-size : 1em;
    color: inherit;
    border: 2px solid white;
    border-radius: 5px;
    width: 120px;
    height: 1.7em;
    cursor: pointer;
    margin-left: 231px;
    margin-bottom: 10px;
    background-color: black;
}
#lobby_name {
    text-align: center;
    font-size: 150%;
    padding: 20px;
    padding-bottom: 10px;
}
#m {
    width: 92%;
    height: 4em;
    resize: none;
    font-size: 14px;
    font-family: "lucida grande","Meiryo",tahoma,verdana,arial,sans-serif;
    padding: 20px;
}
ul {
    margin: 0;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

/* SYSTEM MESSAGE */
li.system {
    position: relative;
    top: 16px;
    left: -24px;
}

/* SPEECH BUBBLE */
li.speech {
    position:relative;
    display:inline-block;
    padding: 20px;
    margin:1.3em 0 0em;
    border:4px solid white;
    color: white;
    background-color: silver;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    /* for left-positioned triangle */
    margin-left:16px;
    max-width: 74%;
}
/* OUTER TRIANGLE */
li.speech:before {
    content:"";
    position:absolute;
    bottom: auto; /* value = - border-top-width - border-bottom-width */
    left:-29px; /* value = - border-left-width - border-right-width */
    top:19px; /* controls vertical position */
    border-width:8px 26px 8px 0;
    border-style:solid;
    border-color:transparent white;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* INNER TRIANGLE */
li.speech:after {
    content:"";
    position:absolute;
    bottom: auto; /* value = - border-top-width - border-bottom-width */
    left:-13px; /* value = - border-left-width - border-right-width */
    top:23px; /* value = (:before top) + (:before border-top) - (:after border-top) */
    border-width:4px 14px 4px 0;
    border-style:solid;
    border-color:transparent silver;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

span.square {
    width: 58px;
    height: 58px;
    background-color: silver;
    display: inline-block;
    float: left;
    top: 22px;
    left: -24px;
    position: relative;
}

/* COLORS */
span.gray {
    background-image: url("images/DRRRicons/setton.png");
}
li.gray {
    background-color: gray;
}
li.gray:after {
    border-color: transparent gray;
}
span.red {
    background-image: url("images/DRRRicons/saika.png");
}
li.red, span.red {
    background-color: #CC0000;
}
li.red:after {
    border-color: transparent #CC0000;
}
span.green {
    background-image: url("images/DRRRicons/bakyura.png");
}
li.green, span.green {
    background-color: #2EB82E;
}
li.green:after {
    border-color: transparent #2EB82E;
}
span.blue {
    background-image: url("images/DRRRicons/simon.png");
}
li.blue, span.blue {
    background-color: #3366CC;
}
li.blue:after {
    border-color: transparent #3366CC;
}
span.yellow {
    background-image: url("images/DRRRicons/koukin.png");
}
li.yellow, span.yellow {
    background-color: #FFD119;
}
li.yellow:after {
    border-color: transparent #FFD119;
}
span.purple {
    background-image: url("images/DRRRicons/chinese.png");
}
li.purple, span.purple {
    background-color: purple;
}
li.purple:after {
    border-color: transparent purple;
}
span.silver {
    background-image: url("images/DRRRicons/shinra.png");
}
li.silver, span.silver {
    background-color: silver;
}
li.silver:after {
    border-color: transparent silver;
}
/* MEDIA QUERIES */
@media (max-width: 60em) {
    li.speech {
        max-width: 70%;
    }
}
@media (max-width: 50em) {
    html {
        margin: auto;
        width: auto;
    }   
    li.speech {
        max-width: 60%;
    }
}
@media (max-width: 40em) {
    li.speech {
        max-width: 50%;
    }
}
